<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowTextColors</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>IRC Twitter HUD</string>
	<key>CFBundleIdentifier</key>
	<string>com.adiumx.aristidesfl.irctwitterhud</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>IRC Twitter HUD</string>
	<key>CFBundlePackageType</key>
	<string>AdIM</string>
	<key>CFBundleShortVersionString</key>
	<string>0.5</string>
	<key>DefaultBackgroundColor</key>
	<string>ffffff</string>
	<key>DefaultFontFamily</key>
	<string>Lucida Grande</string>
	<key>DefaultFontSize</key>
	<integer>12</integer>
	<key>DefaultVariant</key>
	<string>Pro - Grey vs Grey</string>
	<key>DisableCombineConsecutive</key>
	<false/>
	<key>DisableCustomBackground</key>
	<true/>
	<key>DefaultBackgroundIsTransparent</key>
	<true/>
	<key>MessageViewVersion</key>
	<integer>4</integer>
	<key>ShowsUserIcons</key>
	<true/>
</dict>
</plist>
